@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model JobBoard_React.Server.Models.View.UserProfileViewModel

@using (Html.BeginForm("UserProfile", "User", FormMethod.Post))
{
    <label for="nameInput">Name</label>
    <br />
    <input class="form-control" style="max-width:20em;" type="text" id="nameInput" asp-for="Name" />
    <br/><br/>
    <label for="surnameInput">Surname</label>
    <br />
    <input class="form-control" style="max-width:20em;" type="text" id="surnameInput" asp-for="Surname" />
    <br/><br/>
    <input type="submit" value="save" class="btn btn-dark"/>
}
