@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using JobBoard.Models.View
@model JobBoard.Models.View.AppliedJobsViewModel

<div id="AppliedJobsPartialViewDiv">
    @* @Html.ActionLink("","AppliedJobsPartialView","JobApply", ) *@
    @{
        Html.RenderPartial("AppliedJobsPartialView", new AppliedJobsPartialViewModel() { AppliedJobList = Model.AppliedJobList });
    }
</div>